  /* Стили для шапки сайта */
    body {
    font-family: Arial, sans-serif;
    }
  
    .header {
      background-color: #333;
      padding: 20px;
      color: white;
    }
    .header__nav {
      display: flex;
      justify-content: space-between;
    }
    .header__nav-list {
      list-style-type: none;
      display: flex;
    }
    .header__nav-item {
      margin-right: 20px;
    }
    
    /* Стили для баннера */
    .banner {
      width: 100%;
      height: 400px; 
      background-image: url('28fabbf8-4583-4a05-a459-400c264c4f0c.jpg');
      background-size: cover;
    }
    
    .news-section__title {
      text-align: center;
      margin-bottom: 20px;
    }

    .news-section {
      display: flex;
      flex-direction: column;
    }

    .news-section__column {
      display: flex;
      justify-content: space-between;
    }
    .news-section__item {
    border: 1px solid #b3afaf;
    padding: 10px;
    background-color: #f1f1f1;
    width: calc(33.33% - 10px); 
    margin-right: 10px; 
    }
    
    /* Стили для колонок с текстом */
    .columns {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      
    }
    .column {
      border: 1px solid #b3afaf;
      width: 30%;
      padding: 20px;
      background-color: #f1f1f1;
      margin-bottom: 20px;
      margin-right: 10px;
    }
    
    /* Стили для колонки на всю ширину */
    .full {
      width: 100%;
      padding: 20px;
      background-color: #f1f1f1;
      margin-bottom: 20px;
    }
    
    /* Стили для подвала */
    .footer {
      display: flex;
      justify-content: space-between;
      background-color: #333;
      padding: 20px;
      color: white;
    }
    .footer__nav-list {
      display: flex;
      list-style-type: none;
    }

    .footer__nav {
      display: flex;
    }

    .footer__nav-item {
      margin-right: 10px;
    }

    .footer__social-icons {
        display: flex; /* Используем flexbox для управления расположением элементов */
        flex-direction: column;
        justify-content: flex-end; /* Выравниваем элементы вправо */
        align-items: flex-end; 
        
    }
    .contact-links__link {
        color: #ffcc00; /* Цвет ссылки на темном фоне */
        text-decoration: none; /* Убираем подчеркивание у ссылки */
    }
    
    .contact-links__link:hover {
        color: #00b7ff; /* Цвет ссылки при наведении курсора */
    }
    